.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    width: 100%;
    background-color: wheat;
}
.item {
    padding: 30px;
    font-family: sans-serif;
    font-size: 30px;
    box-sizing: border-box;
}
.container .item:nth-child(odd) {
    background-color: tan;
}
.container .item:nth-child(even) {
    background-color: teal;
}